{% extends "base.html" %}

{% block body %}
<div class="card" style="margin: auto;width: 75%;">
    <form method="POST" action="/post/{{ post["_id"] }}/delete">
      <button type="submit" class="btn-close float-end" aria-label="Close"></button>
    <a href="/post/{{ post["_id"] }}/update"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
</svg></a>
  </form>

  <div class="card-header">
    @{{ post["author"] }}
  </div>

  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ post["title"] }}</p>
      <h5>{{ post["body"] | safe }}</h5>

      <br>
      {% if post["updated_at"] %}
      <p class="blockquote-footer">updated_at: {{ post["updated_at"] }}</p>
      {% endif %}

      {% if post["created_at"] %}
      <p class="blockquote-footer">created_at: {{ post["created_at"] }}</p>
      {% endif %}

    </blockquote>
  </div>
</div>

<!-- Comment Section -->
<div class="card mt-4">
  <div class="card-header">
    Comments
  </div>
  <div class="card-body">
    {% if comments %}
      {% for comment in comments %}
        <div class="card mb-3">
         <button type="button" class="btn-close" aria-label="Close"></button>
          <div class="card-body">
            <h6 class="card-title">@{{ comment["author"] }}</h6>
            <p class="card-text">{{ comment["body"] }}</p>
            <p class="card-text">
              <small class="text-muted">Posted on: {{ comment["created_at"] }}</small>
            </p>
          </div>

        </div>
      {% endfor %}
    {% else %}
      <p>No comments yet.</p>
    {% endif %}
  </div>
</div>

<!-- Comment Form -->
<div class="card mt-4">
  <div class="card-header">
    Add a Comment
  </div>
  <div class="card-body">
    <form action="/post/{{ post["_id"] }}/comment" method="POST">
      <div class="form-group">
        <label for="content">Comment</label>
        <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
      </div>
          <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
